$forUL: none;
$background: yellow;
$text-color: orange;
$font-size: large;
$font-weight: bold;

/*animazioni*/
$animationName: hero;
$animationNameButtons: buttons;
$animationDuration: 3s;
$animationDuration2: 1s;
$transictionDuration: 3s;
$transictionFrom: margin-top;


#container {
    background-color: rgb(236, 236, 205);
}

header {
    background-color: $background;
}

.flex {
    display: flex;
}

.bar {
    justify-content: space-around;
}

nav a {
    text-decoration: $forUL;
    padding-left: 20px;
}

nav ul {
    list-style: none;
}

/*Hero*/

.headline {
    flex-direction: column;
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
}

.testo {
    align-items: center;
    justify-content: space-around;
}

.hero-content {
    margin-top: 10px;
    animation-name: $animationName;
    animation-duration: $animationDuration2;
    transition-property: $transictionFrom;
    transition-duration: 1.5s;
    transition-timing-function: ease-in;
}

.reference {
    padding: 3rem;
    animation-name: $animationName;
    animation-duration: $animationDuration;
    margin-top: 20px;
    transition-property: $transictionFrom;
    transition-duration: 3s;
    transition-timing-function: ease-in;
}

.headline span {
    color: $text-color;
    font-size: large;
}

.headline button {
    background-color: $text-color;
    font-weight: $font-weight;
    font-size: $font-size;
    border-radius: 20px;
    margin: 10px;
    padding: 3px;
    animation-name: $animationNameButtons;
    animation-duration: $animationDuration;
    transition: transform 3.5s;
    transform: rotate(360deg);
    transform-origin: 60% 60%;
}

.bottoni {
    padding-left: 10rem;
}

h1 {
    color: $text-color;
}

/* section */

.content {
    background-color: white;
    padding: 50px;
}

.titolo-section {
    text-align: center;
    background-color: white;
}

.container-articoli {
    justify-content: space-evenly;
    background-color: white;
}

.riga {
    padding: 20px;
}

.colonna {
    margin: 20px;
    border: 2px solid black;
}


/*ANIMAZIONI*/

@keyframes hero {
    0% {opacity: 0; }
    30% {opacity: 20%;
         transition: transform;}
    50% {opacity: 40%;
         transition: transform;}
    80% {opacity: 60%;
         transition: transform;}
    90% {opacity: 80%;
         transition: transform;}
    100% {opacity: 100%;
         transition: transform;}
}

@keyframes buttons {
    0% {
        opacity: 0;
     }
    30% {
        opacity: 20%;
    }
    50% {
        opacity: 40%;
    }
    80% {
        opacity: 60%;
    }
    90% {
        opacity: 80%;
    }
    100% {
        transition: transform 3.5s;
        transform: rotate(360deg);
        transform-origin: 60% 60%;
    }

}